.front-page-hero {
	position: relative;
	background-color: get-color(primary);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: $spacer/3;

	@include breakpoint(medium) {
		padding-bottom: $spacer * 3;
	}

	@include breakpoint(large) {
		padding: $spacer * 3 0;
	}
}

.kw-front-page__title-wrapper {
	position: relative;
	box-sizing: border-box;
	background-color: rgba(get-color(white), 0.85);
	padding: $spacer/2;
	display: flex;
	flex-direction: column;
	gap: $spacer/2;
	border-radius: $global-radius;

	@include breakpoint(large) {
		position: absolute;
		right: $spacer-px * 2;
		top: $spacer-px;
		max-width: 33%;
		text-align: right;
		z-index: 1;
	}

	@include breakpoint(xlarge) {
		padding: $spacer * 2;
	}

	.kw-font-page__title {
		display: none;
		font-weight: $global-weight-bold;
		line-height: 1.1;
		margin: 0;

		@include breakpoint(medium) {
			display: initial;
		}
	}

	.kw-front-page__summary {
		color: get-color(secondary);
		text-transform: uppercase;
		@extend .kw-u-weight-bold;
	}
}

.kw-front-page__continue {
	@extend .kw-u-transition;
	position: relative;
	color: get-color(black);
	right: 0;
	bottom: 0;
	background-color: get-color(white);
	padding: $spacer/2;
	box-sizing: border-box;
	text-transform: Capitalize;
	font-weight: bold;
	z-index: 2;
	text-align: right;

	.fas {
		animation-iteration-count: 5;
	}

	@include breakpoint(medium) {
		position: absolute;
	}

	@include breakpoint(large) {
		padding: $spacer/2;
		font-size: $font-xl;
		right: $spacer * 3;
	}
}

/**
    Carousel
  */

.kw-front-page__carousel {
	// height: 50vh;

	// @include breakpoint(large) {
	// 	height: 75vh;
	// }

	.slick-list {
		overflow: visible;
	}

	.slick-list,
	.slick-track {
		height: 100%;
		display: flex;
	}

	.slick-slide {
		@extend .kw-u-transition;
		// width: 90vw !important;
		width: 85vw;
		height: 100% !important;
		box-sizing: border-box;
		aspect-ratio: auto 3 /2;

		@include breakpoint(large) {
			aspect-ratio: auto 2 / 1;

			// width: 70vw !important;
		}

		&:not(.slick-active) {
			opacity: 0.5;
		}

		> div {
			height: 100%;
		}
	}

	.slick-slide + .slick-slide {
		margin-left: $spacer;

		@include breakpoint(large) {
			margin-left: $spacer * 1.5;
		}
	}
}

.kw-front-page-carousel__slide {
	height: 100%;
	border-radius: $global-radius;
	overflow: hidden;

	.kw-front-page__carousel-img,
	.kw-front-page__carousel-video {
		height: 100%;
	}

	.kw-front-page__carousel-img {
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: get-color(dark-gray);

		& .kw-front-page__carousel-cta {
			@extend .kw-u-transition;
			@extend .kw-u-weight-medium;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(get-color(black), 0.9);
			padding: $spacer/2;
			box-sizing: border-box;
			border-radius: 0 $global-radius $global-radius 0;
			overflow: hidden;
			color: get-color(white);

			& p {
				margin: 0;
				padding: 0;

				& + & {
					margin-top: $spacer;
				}
			}

			@include breakpoint(medium) {
				padding: $spacer/2;
				bottom: 36px;
				width: 50%;
			}

			@include breakpoint(xlarge) {
				width: 30%;
			}
		}
	}
}
