.kw-c-block__title {
	@extend .kw-u-weight-light;
	@extend .kw-u-medium-line-height;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
}

.kw-c-cta {
	color: get-color(secondary);
	@extend .kw-u-weight-bold;

	@include breakpoint(large) {
		padding-top: $spacer;
		border-top: 1px solid get-color(medium-gray);
		font-size: $font-lg;
	}
}

.kw-c-col__main {
	text-align: justify;
}
