.kw-c-quick-nav {
	.fa-exchange-alt {
		transform: rotate(90deg);
		transform-origin: center;
		opacity: 0.5;
	}
}

.kw-c-quick-nav__wrapper {
	width: 100%;
	display: flex;
}

.kw-c-quick-nav__scrollspy {
	width: 100%;
	position: relative;
	line-height: 1;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.kw-c-quick-nav__item-text {
	@extend .kw-u-transition;
	display: flex;
	align-items: center;
	min-height: $spacer;
	width: 100%;
	position: relative;
	flex-direction: column;
	border-radius: $global-radius;
	box-sizing: border-box;

	@include breakpoint(medium down) {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:hover,
	&:active {
		background-color: rgba(get-color(light-blue), 0.5);
	}

	span {
		padding: 0 $spacer/3;
		width: 100%;
		display: block;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate3d(0, 50%, 0);
		transition: transform $duration $easing, opacity $duration $easing;
		text-overflow: ellipsis;

		@include breakpoint(medium down) {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&.kw-is-active {
			opacity: 1;
			transform: translate3d(0, -50%, 0);
		}
	}
}

#dropdown-block-list {
	max-height: calc(100vh - 135px);
	overflow: auto;
}

.kw-c-quick-nav__menu {
	.kw-c-quick-nav__menu-item {
		text-transform: uppercase;
		display: block;
		margin-top: $spacer/3;
	}
}
