/*!***********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./assets/styles/scss/style.scss ***!
  \***********************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:300,400,700&display=swap);
/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./assets/styles/scss/style.scss (1) ***!
  \***************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:300,400,700&display=swap);
/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./assets/styles/scss/style.scss (2) ***!
  \***************************************************************************************************************************************************************************************************/
/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/
/************************************************

Stylesheet: Global Stylesheet

*************************************************/
html {
  scroll-behavior: smooth;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px;
}

.byline {
  color: #999;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.gallery dl:last-child:not(:first-child) {
  float: right;
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px;
}

#respond ul {
  margin-left: 0px;
}

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  float: right;
}
/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

#comment-form-title {
  margin: 0 0 1.1em;
}

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none;
}

.widget ul {
  margin: 0;
}

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em;
}

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0;
}

.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}

html, body, .off-canvas-wrapper {
  width: 100%;
  height: 100%;
}
html .off-canvas-wrapper, body .off-canvas-wrapper, .off-canvas-wrapper .off-canvas-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.off-canvas-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow-x: hidden;
}

#kw-c-content {
  flex-grow: 1;
}

#kw-c-top-bar, #kw-c-content, #kw-c-footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=all.css.map */
.js-e-gsap__self-slideup--onload {
  opacity: 0;
  transform: translateY(50px);
}

/*
 * Utility Classes
 *
 * These are helpful, single (or limited) purpose, classes 
 * usually created for the styles you apply the most.
 * You can include them in your markup or use @extend to 
 * extend them to various components in your CSS.
 *
 * NOTE: Utility classes are always prefixed with `kw-u-`.
 */
.kw-u-mt-nudge {
  margin-top: 0.5rem !important;
}

.kw-u-mb-nudge {
  margin-bottom: 0.5rem !important;
}

.kw-u-ml-nudge {
  margin-left: 0.5rem !important;
}

.kw-u-mr-nudge {
  margin-right: 0.5rem !important;
}

.kw-u-my-nudge {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.kw-u-my-nudge {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.kw-u-mx-nudge {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.kw-u-pt-nudge {
  padding-top: 0.5rem !important;
}

.kw-u-pb-nudge {
  padding-bottom: 0.5rem !important;
}

.kw-u-pr-nudge {
  padding-right: 0.5rem !important;
}

.kw-u-pl-nudge {
  padding-left: 0.5rem !important;
}

.kw-u-py-nudge {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.kw-u-px-nudge {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.kw-u-ma-0 {
  margin: 0rem !important;
}

.kw-u-mt-0 {
  margin-top: 0rem !important;
}

.kw-u-mr-0 {
  margin-right: 0rem !important;
}

.kw-u-mb-0 {
  margin-bottom: 0rem !important;
}

.kw-u-ml-0 {
  margin-left: 0rem !important;
}

.kw-u-mx-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.kw-u-my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.kw-u-pa-0 {
  padding: 0rem !important;
}

.kw-u-pt-0 {
  padding-top: 0rem !important;
}

.kw-u-pr-0 {
  padding-right: 0rem !important;
}

.kw-u-pb-0 {
  padding-bottom: 0rem !important;
}

.kw-u-pl-0 {
  padding-left: 0rem !important;
}

.kw-u-px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.kw-u-py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.kw-u-ma-1 {
  margin: 1.5rem !important;
}

.kw-u-mt-1, .js-layout-slider {
  margin-top: 1.5rem !important;
}

.kw-u-mr-1 {
  margin-right: 1.5rem !important;
}

.kw-u-mb-1 {
  margin-bottom: 1.5rem !important;
}

.kw-u-ml-1 {
  margin-left: 1.5rem !important;
}

.kw-u-mx-1 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.kw-u-my-1 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.kw-u-pa-1 {
  padding: 1.5rem !important;
}

.kw-u-pt-1 {
  padding-top: 1.5rem !important;
}

.kw-u-pr-1 {
  padding-right: 1.5rem !important;
}

.kw-u-pb-1 {
  padding-bottom: 1.5rem !important;
}

.kw-u-pl-1 {
  padding-left: 1.5rem !important;
}

.kw-u-px-1 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.kw-u-py-1 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.kw-u-ma-2 {
  margin: 3rem !important;
}

.kw-u-mt-2 {
  margin-top: 3rem !important;
}

.kw-u-mr-2 {
  margin-right: 3rem !important;
}

.kw-u-mb-2 {
  margin-bottom: 3rem !important;
}

.kw-u-ml-2 {
  margin-left: 3rem !important;
}

.kw-u-mx-2 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.kw-u-my-2 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.kw-u-pa-2 {
  padding: 3rem !important;
}

.kw-u-pt-2 {
  padding-top: 3rem !important;
}

.kw-u-pr-2 {
  padding-right: 3rem !important;
}

.kw-u-pb-2 {
  padding-bottom: 3rem !important;
}

.kw-u-pl-2 {
  padding-left: 3rem !important;
}

.kw-u-px-2 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.kw-u-py-2 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.kw-u-ma-3 {
  margin: 4.5rem !important;
}

.kw-u-mt-3 {
  margin-top: 4.5rem !important;
}

.kw-u-mr-3 {
  margin-right: 4.5rem !important;
}

.kw-u-mb-3 {
  margin-bottom: 4.5rem !important;
}

.kw-u-ml-3 {
  margin-left: 4.5rem !important;
}

.kw-u-mx-3 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.kw-u-my-3 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.kw-u-pa-3 {
  padding: 4.5rem !important;
}

.kw-u-pt-3 {
  padding-top: 4.5rem !important;
}

.kw-u-pr-3 {
  padding-right: 4.5rem !important;
}

.kw-u-pb-3 {
  padding-bottom: 4.5rem !important;
}

.kw-u-pl-3 {
  padding-left: 4.5rem !important;
}

.kw-u-px-3 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.kw-u-py-3 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.kw-u-ma-4 {
  margin: 6rem !important;
}

.kw-u-mt-4 {
  margin-top: 6rem !important;
}

.kw-u-mr-4 {
  margin-right: 6rem !important;
}

.kw-u-mb-4 {
  margin-bottom: 6rem !important;
}

.kw-u-ml-4 {
  margin-left: 6rem !important;
}

.kw-u-mx-4 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.kw-u-my-4 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.kw-u-pa-4 {
  padding: 6rem !important;
}

.kw-u-pt-4 {
  padding-top: 6rem !important;
}

.kw-u-pr-4 {
  padding-right: 6rem !important;
}

.kw-u-pb-4 {
  padding-bottom: 6rem !important;
}

.kw-u-pl-4 {
  padding-left: 6rem !important;
}

.kw-u-px-4 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.kw-u-py-4 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.kw-u-ma-5 {
  margin: 7.5rem !important;
}

.kw-u-mt-5 {
  margin-top: 7.5rem !important;
}

.kw-u-mr-5 {
  margin-right: 7.5rem !important;
}

.kw-u-mb-5 {
  margin-bottom: 7.5rem !important;
}

.kw-u-ml-5 {
  margin-left: 7.5rem !important;
}

.kw-u-mx-5 {
  margin-left: 7.5rem !important;
  margin-right: 7.5rem !important;
}

.kw-u-my-5 {
  margin-top: 7.5rem !important;
  margin-bottom: 7.5rem !important;
}

.kw-u-pa-5 {
  padding: 7.5rem !important;
}

.kw-u-pt-5 {
  padding-top: 7.5rem !important;
}

.kw-u-pr-5 {
  padding-right: 7.5rem !important;
}

.kw-u-pb-5 {
  padding-bottom: 7.5rem !important;
}

.kw-u-pl-5 {
  padding-left: 7.5rem !important;
}

.kw-u-px-5 {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important;
}

.kw-u-py-5 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}

.kw-u-ma-6 {
  margin: 9rem !important;
}

.kw-u-mt-6 {
  margin-top: 9rem !important;
}

.kw-u-mr-6 {
  margin-right: 9rem !important;
}

.kw-u-mb-6 {
  margin-bottom: 9rem !important;
}

.kw-u-ml-6 {
  margin-left: 9rem !important;
}

.kw-u-mx-6 {
  margin-left: 9rem !important;
  margin-right: 9rem !important;
}

.kw-u-my-6 {
  margin-top: 9rem !important;
  margin-bottom: 9rem !important;
}

.kw-u-pa-6 {
  padding: 9rem !important;
}

.kw-u-pt-6 {
  padding-top: 9rem !important;
}

.kw-u-pr-6 {
  padding-right: 9rem !important;
}

.kw-u-pb-6 {
  padding-bottom: 9rem !important;
}

.kw-u-pl-6 {
  padding-left: 9rem !important;
}

.kw-u-px-6 {
  padding-left: 9rem !important;
  padding-right: 9rem !important;
}

.kw-u-py-6 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}

.kw-u-ma-7 {
  margin: 10.5rem !important;
}

.kw-u-mt-7 {
  margin-top: 10.5rem !important;
}

.kw-u-mr-7 {
  margin-right: 10.5rem !important;
}

.kw-u-mb-7 {
  margin-bottom: 10.5rem !important;
}

.kw-u-ml-7 {
  margin-left: 10.5rem !important;
}

.kw-u-mx-7 {
  margin-left: 10.5rem !important;
  margin-right: 10.5rem !important;
}

.kw-u-my-7 {
  margin-top: 10.5rem !important;
  margin-bottom: 10.5rem !important;
}

.kw-u-pa-7 {
  padding: 10.5rem !important;
}

.kw-u-pt-7 {
  padding-top: 10.5rem !important;
}

.kw-u-pr-7 {
  padding-right: 10.5rem !important;
}

.kw-u-pb-7 {
  padding-bottom: 10.5rem !important;
}

.kw-u-pl-7 {
  padding-left: 10.5rem !important;
}

.kw-u-px-7 {
  padding-left: 10.5rem !important;
  padding-right: 10.5rem !important;
}

.kw-u-py-7 {
  padding-top: 10.5rem !important;
  padding-bottom: 10.5rem !important;
}

.kw-u-ma-8 {
  margin: 12rem !important;
}

.kw-u-mt-8 {
  margin-top: 12rem !important;
}

.kw-u-mr-8 {
  margin-right: 12rem !important;
}

.kw-u-mb-8 {
  margin-bottom: 12rem !important;
}

.kw-u-ml-8 {
  margin-left: 12rem !important;
}

.kw-u-mx-8 {
  margin-left: 12rem !important;
  margin-right: 12rem !important;
}

.kw-u-my-8 {
  margin-top: 12rem !important;
  margin-bottom: 12rem !important;
}

.kw-u-pa-8 {
  padding: 12rem !important;
}

.kw-u-pt-8 {
  padding-top: 12rem !important;
}

.kw-u-pr-8 {
  padding-right: 12rem !important;
}

.kw-u-pb-8 {
  padding-bottom: 12rem !important;
}

.kw-u-pl-8 {
  padding-left: 12rem !important;
}

.kw-u-px-8 {
  padding-left: 12rem !important;
  padding-right: 12rem !important;
}

.kw-u-py-8 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

.kw-u-no-margin {
  margin: 0;
}

.kw-u-weight-light, .kw-c-block__title {
  font-weight: 300 !important;
}

.kw-u-weight-normal {
  font-weight: 400 !important;
}

.kw-u-weight-medium, .kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta, .wp-caption .wp-caption-text {
  font-weight: 500 !important;
}

.kw-u-weight-bold, .kw-c-timeline__block .kw-c-timeline__subtitle, .kw-c-top-bar__wrapper, .kw-c-sidebar__trigger.has-content, .kw-c-cta, .kw-front-page__title-wrapper .kw-front-page__summary, .kw-c-play-audio .kw-c-play-audio__cta {
  font-weight: 700 !important;
}

.kw-u-caps {
  text-transform: uppercase !important;
}

.kw-u-capitalize, .kw-c-quote__author, .wp-caption .wp-caption-text {
  text-transform: capitalize !important;
}

.kw-u-font-size-sm {
  font-size: 85% !important;
}

.kw-u-font-size-nrml {
  font-size: 100% !important;
}

.kw-u-font-size-lg, .kw-c-menu__tagline {
  font-size: 125% !important;
}

.kw-u-font-size-xl {
  font-size: 150% !important;
}

.kw-u-font-size-xxl {
  font-size: 200% !important;
}

.kw-u-font-size-xxxl {
  font-size: 300% !important;
}

.kw-u-text-left {
  text-align: left !important;
}

.kw-u-text-center {
  text-align: center !important;
}

.kw-u-text-right {
  text-align: right !important;
}

.kw-u-tight-line-height {
  line-height: 1;
}

.kw-u-medium-line-height, .kw-c-block__title {
  line-height: 1.2;
}

.kw-u-clean-list, .kw-c-timeline__inner-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none !important;
}

.kw-u-faded {
  opacity: 0.6;
}

.kw-u-display-block {
  display: block !important;
}

.kw-u-display-none {
  display: none !important;
}

.kw-u-display-inline {
  display: inline !important;
}

.kw-u-display-inline-block {
  display: inline-block !important;
}

.aligncenter {
  margin: 0 auto;
  display: block;
}

.kw-u-height-full {
  height: 100%;
}

.kw-u-width-full {
  width: 100%;
}

.kw-u-align-self-end {
  align-self: flex-end;
}

.kw-u-align-self-start {
  align-self: flex-start;
}

.kw-u-flex-grow-1 {
  flex-grow: 1;
}

.kw-u-transition, .kw-c-timeline__block, .kw-c-timeline__inner-wrapper:before, #kw-c-top-bar a, .kw-c-sidebar__trigger.has-content, .kw-c-archive__thumbnail > *, .kw-c-quote__body, .kw-c-quote__wrapper, .kw-c-quick-nav__item-text, .kw-c-menu__section-page .kw-c-menu__sections-link, .kw-c-menu__section-page, .js-section-toggle.section--active:after, .js-section-toggle, .kw-c-menu-link, .kw-c-menu__wrapper *, #kw-c-menu__close, .kw-c-img-grid__img > *, .kw-c-hero__inner > *, .kw-c-hero, .kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta, .kw-front-page__carousel .slick-slide, .kw-front-page__continue, .kw-c-carousel__action .kw-c-carousel__arrow, .kw-c-carousel .slick-slide, .kw-c-play-audio .kw-c-play-audio__cta, .kw-u-icon-play:before {
  transition: all 250ms ease-out;
}

.kw-u-transition-short {
  transition: all 100ms ease-out;
}

.kw-u-transition-long {
  transition: all 600ms ease-out;
}

.kw-u-icon-play {
  display: inline-block;
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-sizing: content-box;
  z-index: 2;
}
.kw-u-icon-play:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(254, 254, 254, 0.3);
  border-radius: 50%;
}
.kw-u-icon-play:after {
  position: absolute;
  display: block;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -36%);
}
.kw-u-icon-play:hover:before, .kw-u-icon-play:focus:before {
  margin: -0.5rem;
}

.kw-u-box-shadow {
  box-shadow: 0 5px 15px -5px;
}

.kw-u-font-color--primary:not(a),
.kw-u-font-color--primary .h1,
.kw-u-font-color--primary .h2,
.kw-u-font-color--primary .h3,
.kw-u-font-color--primary .h4,
.kw-u-font-color--primary .h5,
.kw-u-font-color--primary .h6,
.kw-u-font-color--primary h1,
.kw-u-font-color--primary h2,
.kw-u-font-color--primary h3,
.kw-u-font-color--primary h4,
.kw-u-font-color--primary h5,
.kw-u-font-color--primary h6 {
  color: #14343f;
}

.kw-u-font-color--secondary:not(a),
.kw-u-font-color--secondary .h1,
.kw-u-font-color--secondary .h2,
.kw-u-font-color--secondary .h3,
.kw-u-font-color--secondary .h4,
.kw-u-font-color--secondary .h5,
.kw-u-font-color--secondary .h6,
.kw-u-font-color--secondary h1,
.kw-u-font-color--secondary h2,
.kw-u-font-color--secondary h3,
.kw-u-font-color--secondary h4,
.kw-u-font-color--secondary h5,
.kw-u-font-color--secondary h6 {
  color: #56706d;
}

.kw-u-font-color--light-blue:not(a),
.kw-u-font-color--light-blue .h1,
.kw-u-font-color--light-blue .h2,
.kw-u-font-color--light-blue .h3,
.kw-u-font-color--light-blue .h4,
.kw-u-font-color--light-blue .h5,
.kw-u-font-color--light-blue .h6,
.kw-u-font-color--light-blue h1,
.kw-u-font-color--light-blue h2,
.kw-u-font-color--light-blue h3,
.kw-u-font-color--light-blue h4,
.kw-u-font-color--light-blue h5,
.kw-u-font-color--light-blue h6 {
  color: #d8e0ed;
}

.kw-u-font-color--blue:not(a),
.kw-u-font-color--blue .h1,
.kw-u-font-color--blue .h2,
.kw-u-font-color--blue .h3,
.kw-u-font-color--blue .h4,
.kw-u-font-color--blue .h5,
.kw-u-font-color--blue .h6,
.kw-u-font-color--blue h1,
.kw-u-font-color--blue h2,
.kw-u-font-color--blue h3,
.kw-u-font-color--blue h4,
.kw-u-font-color--blue h5,
.kw-u-font-color--blue h6 {
  color: #4fc1e9;
}

.kw-u-font-color--hunter-green:not(a),
.kw-u-font-color--hunter-green .h1,
.kw-u-font-color--hunter-green .h2,
.kw-u-font-color--hunter-green .h3,
.kw-u-font-color--hunter-green .h4,
.kw-u-font-color--hunter-green .h5,
.kw-u-font-color--hunter-green .h6,
.kw-u-font-color--hunter-green h1,
.kw-u-font-color--hunter-green h2,
.kw-u-font-color--hunter-green h3,
.kw-u-font-color--hunter-green h4,
.kw-u-font-color--hunter-green h5,
.kw-u-font-color--hunter-green h6 {
  color: #596344;
}

.kw-u-font-color--salmon:not(a),
.kw-u-font-color--salmon .h1,
.kw-u-font-color--salmon .h2,
.kw-u-font-color--salmon .h3,
.kw-u-font-color--salmon .h4,
.kw-u-font-color--salmon .h5,
.kw-u-font-color--salmon .h6,
.kw-u-font-color--salmon h1,
.kw-u-font-color--salmon h2,
.kw-u-font-color--salmon h3,
.kw-u-font-color--salmon h4,
.kw-u-font-color--salmon h5,
.kw-u-font-color--salmon h6 {
  color: #c74426;
}

.kw-u-font-color--success:not(a),
.kw-u-font-color--success .h1,
.kw-u-font-color--success .h2,
.kw-u-font-color--success .h3,
.kw-u-font-color--success .h4,
.kw-u-font-color--success .h5,
.kw-u-font-color--success .h6,
.kw-u-font-color--success h1,
.kw-u-font-color--success h2,
.kw-u-font-color--success h3,
.kw-u-font-color--success h4,
.kw-u-font-color--success h5,
.kw-u-font-color--success h6 {
  color: #3adb76;
}

.kw-u-font-color--warning:not(a),
.kw-u-font-color--warning .h1,
.kw-u-font-color--warning .h2,
.kw-u-font-color--warning .h3,
.kw-u-font-color--warning .h4,
.kw-u-font-color--warning .h5,
.kw-u-font-color--warning .h6,
.kw-u-font-color--warning h1,
.kw-u-font-color--warning h2,
.kw-u-font-color--warning h3,
.kw-u-font-color--warning h4,
.kw-u-font-color--warning h5,
.kw-u-font-color--warning h6 {
  color: #ffae00;
}

.kw-u-font-color--alert:not(a),
.kw-u-font-color--alert .h1,
.kw-u-font-color--alert .h2,
.kw-u-font-color--alert .h3,
.kw-u-font-color--alert .h4,
.kw-u-font-color--alert .h5,
.kw-u-font-color--alert .h6,
.kw-u-font-color--alert h1,
.kw-u-font-color--alert h2,
.kw-u-font-color--alert h3,
.kw-u-font-color--alert h4,
.kw-u-font-color--alert h5,
.kw-u-font-color--alert h6 {
  color: #cc4b37;
}

.kw-u-font-color--light-gray:not(a),
.kw-u-font-color--light-gray .h1,
.kw-u-font-color--light-gray .h2,
.kw-u-font-color--light-gray .h3,
.kw-u-font-color--light-gray .h4,
.kw-u-font-color--light-gray .h5,
.kw-u-font-color--light-gray .h6,
.kw-u-font-color--light-gray h1,
.kw-u-font-color--light-gray h2,
.kw-u-font-color--light-gray h3,
.kw-u-font-color--light-gray h4,
.kw-u-font-color--light-gray h5,
.kw-u-font-color--light-gray h6 {
  color: #9b9c9e;
}

.kw-u-font-color--medium-gray:not(a),
.kw-u-font-color--medium-gray .h1,
.kw-u-font-color--medium-gray .h2,
.kw-u-font-color--medium-gray .h3,
.kw-u-font-color--medium-gray .h4,
.kw-u-font-color--medium-gray .h5,
.kw-u-font-color--medium-gray .h6,
.kw-u-font-color--medium-gray h1,
.kw-u-font-color--medium-gray h2,
.kw-u-font-color--medium-gray h3,
.kw-u-font-color--medium-gray h4,
.kw-u-font-color--medium-gray h5,
.kw-u-font-color--medium-gray h6 {
  color: #cacaca;
}

.kw-u-font-color--dark-gray:not(a),
.kw-u-font-color--dark-gray .h1,
.kw-u-font-color--dark-gray .h2,
.kw-u-font-color--dark-gray .h3,
.kw-u-font-color--dark-gray .h4,
.kw-u-font-color--dark-gray .h5,
.kw-u-font-color--dark-gray .h6,
.kw-u-font-color--dark-gray h1,
.kw-u-font-color--dark-gray h2,
.kw-u-font-color--dark-gray h3,
.kw-u-font-color--dark-gray h4,
.kw-u-font-color--dark-gray h5,
.kw-u-font-color--dark-gray h6 {
  color: #8a8a8a;
}

.kw-u-font-color--black:not(a),
.kw-u-font-color--black .h1,
.kw-u-font-color--black .h2,
.kw-u-font-color--black .h3,
.kw-u-font-color--black .h4,
.kw-u-font-color--black .h5,
.kw-u-font-color--black .h6,
.kw-u-font-color--black h1,
.kw-u-font-color--black h2,
.kw-u-font-color--black h3,
.kw-u-font-color--black h4,
.kw-u-font-color--black h5,
.kw-u-font-color--black h6 {
  color: #212121;
}

.kw-u-font-color--white:not(a),
.kw-u-font-color--white .h1,
.kw-u-font-color--white .h2,
.kw-u-font-color--white .h3,
.kw-u-font-color--white .h4,
.kw-u-font-color--white .h5,
.kw-u-font-color--white .h6,
.kw-u-font-color--white h1,
.kw-u-font-color--white h2,
.kw-u-font-color--white h3,
.kw-u-font-color--white h4,
.kw-u-font-color--white h5,
.kw-u-font-color--white h6 {
  color: #fefefe;
}

.kw-c-hero--bg-primary {
  background-color: #14343f;
}

.kw-c-hero--bg-secondary {
  background-color: #56706d;
}

.kw-c-hero--bg-light-blue {
  background-color: #d8e0ed;
}

.kw-c-hero--bg-blue {
  background-color: #4fc1e9;
}

.kw-c-hero--bg-hunter-green {
  background-color: #596344;
}

.kw-c-hero--bg-salmon {
  background-color: #c74426;
}

.kw-c-hero--bg-success {
  background-color: #3adb76;
}

.kw-c-hero--bg-warning {
  background-color: #ffae00;
}

.kw-c-hero--bg-alert {
  background-color: #cc4b37;
}

.kw-c-hero--bg-light-gray {
  background-color: #9b9c9e;
}

.kw-c-hero--bg-medium-gray {
  background-color: #cacaca;
}

.kw-c-hero--bg-dark-gray {
  background-color: #8a8a8a;
}

.kw-c-hero--bg-black {
  background-color: #212121;
}

.kw-c-hero--bg-white {
  background-color: #fefefe;
}

.kw-u-jump-down {
  display: block;
  text-align: center;
}

.kw-u-bg-overlay {
  position: relative;
  width: 100%;
}
.kw-u-bg-overlay > * {
  position: relative;
  z-index: 3;
}
.kw-u-bg-overlay:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 52, 63, 0.6), rgba(0, 0, 0, 0.7));
  z-index: 2;
  top: 0;
}

.kw-u-divider {
  background-color: #14343f;
  width: 100%;
  display: inline-block;
  height: 1px;
  margin: 0.5rem 0;
}

.kw-u-clearfix:before, .kw-u-clearfix:after {
  content: "";
  display: table;
}
.kw-u-clearfix:after {
  clear: both;
}

/**
*Effects for producing CSS animations
*/
/*# sourceMappingURL=all.css.map */
.kw-c-play-audio .kw-c-play-audio__cta {
  box-sizing: border-box;
  display: inline;
  margin: 0 0.3rem;
  padding: 0.3rem 0.5rem;
  color: #14343f;
  border-bottom: 1px dashed #596344;
}
.kw-c-play-audio .kw-c-play-audio__cta:hover, .kw-c-play-audio .kw-c-play-audio__cta:focus {
  border-color: #56706d;
  color: #56706d;
}

.kw-c-main > * {
  margin-top: 3rem;
}
@media print, screen and (min-width: 40em) {
  .kw-c-main > * {
    margin-top: 4.5rem;
  }
}
.kw-c-main .kw-c-block .grid-container > div:first-child {
  padding-top: 3rem;
  border-top: 1px solid #56706d;
}

.wp-caption {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.5rem;
}
.wp-caption > img {
  border-radius: 4px;
}
.wp-caption .wp-caption-text {
  font-style: oblique;
}

.kw-c-carousel .slick-list {
  overflow: visible;
}
.kw-c-col__promo {
  position: relative;
  z-index: 2;
}

.kw-c-carousel__action .kw-c-carousel__arrow {
  min-height: 45px;
  min-width: 45px;
  padding: 0.75rem;
  box-sizing: border-box;
  border: 1px solid #14343f;
  color: #14343f;
  border-radius: 4px;
  font-size: 125%;
}
.kw-c-carousel__action .kw-c-carousel__arrow:hover {
  background-color: rgba(216, 224, 237, 0.5);
}
.kw-c-carousel__action .kw-c-carousel__arrow:not(:first-of-type) {
  margin-left: 0.75rem;
}

.kw-c-carousel__slide {
  padding: 1.5rem;
  box-sizing: border-box;
}
.kw-c-carousel__slide > .grid-x {
  border-radius: 4px;
  overflow: hidden;
}

.kw-c-carousel__img {
  background-color: #9b9c9e;
}

.kw-c-carousel__desc {
  background-color: #56706d;
  color: #fefefe;
  padding: 1.125rem;
}
.kw-c-carousel__desc .h5 {
  color: #d8e0ed;
}

.kw-is-past {
  opacity: 0.04;
  pointer-events: none;
}

#kw-c-footer {
  min-height: 200px;
  background-color: #8a8a8a;
  color: #fefefe;
  position: relative;
}
#kw-c-footer .kw-c-footer__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.075;
  filter: grayscale(0.8);
  object-fit: cover;
  object-position: center;
}
#kw-c-footer > *:not(.kw-c-footer__img) {
  position: relative;
}
@media print, screen and (min-width: 40em) {
  #kw-c-footer {
    min-height: 300px;
  }
}

.front-page-hero {
  position: relative;
  background-color: #14343f;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media print, screen and (min-width: 40em) {
  .front-page-hero {
    padding-bottom: 4.5rem;
  }
}
@media print, screen and (min-width: 64em) {
  .front-page-hero {
    padding: 4.5rem 0;
  }
}

.kw-front-page__title-wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: rgba(254, 254, 254, 0.85);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 4px;
}
@media print, screen and (min-width: 64em) {
  .kw-front-page__title-wrapper {
    position: absolute;
    right: 48px;
    top: 24px;
    max-width: 33%;
    text-align: right;
    z-index: 1;
  }
}
@media screen and (min-width: 75em) {
  .kw-front-page__title-wrapper {
    padding: 3rem;
  }
}
.kw-front-page__title-wrapper .kw-font-page__title {
  display: none;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}
@media print, screen and (min-width: 40em) {
  .kw-front-page__title-wrapper .kw-font-page__title {
    display: initial;
  }
}
.kw-front-page__title-wrapper .kw-front-page__summary {
  color: #56706d;
  text-transform: uppercase;
}

.kw-front-page__continue {
  position: relative;
  color: #212121;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  padding: 0.75rem;
  box-sizing: border-box;
  text-transform: Capitalize;
  font-weight: bold;
  z-index: 2;
  text-align: right;
}
.kw-front-page__continue .fas {
  animation-iteration-count: 5;
}
@media print, screen and (min-width: 40em) {
  .kw-front-page__continue {
    position: absolute;
  }
}
@media print, screen and (min-width: 64em) {
  .kw-front-page__continue {
    padding: 0.75rem;
    font-size: 150%;
    right: 4.5rem;
  }
}

/**
    Carousel
  */
.kw-front-page__carousel .slick-list {
  overflow: visible;
}
.kw-front-page__carousel .slick-list,
.kw-front-page__carousel .slick-track {
  height: 100%;
  display: flex;
}
.kw-front-page__carousel .slick-slide {
  width: 85vw;
  height: 100% !important;
  box-sizing: border-box;
  aspect-ratio: auto 3/2;
}
@media print, screen and (min-width: 64em) {
  .kw-front-page__carousel .slick-slide {
    aspect-ratio: auto 2/1;
  }
}
.kw-front-page__carousel .slick-slide:not(.slick-active) {
  opacity: 0.5;
}
.kw-front-page__carousel .slick-slide > div {
  height: 100%;
}
.kw-front-page__carousel .slick-slide + .slick-slide {
  margin-left: 1.5rem;
}
@media print, screen and (min-width: 64em) {
  .kw-front-page__carousel .slick-slide + .slick-slide {
    margin-left: 2.25rem;
  }
}

.kw-front-page-carousel__slide {
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.kw-front-page-carousel__slide .kw-front-page__carousel-img,
.kw-front-page-carousel__slide .kw-front-page__carousel-video {
  height: 100%;
}
.kw-front-page-carousel__slide .kw-front-page__carousel-img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8a8a8a;
}
.kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.9);
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  color: #fefefe;
}
.kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta p {
  margin: 0;
  padding: 0;
}
.kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta p + .kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta p {
  margin-top: 1.5rem;
}
@media print, screen and (min-width: 40em) {
  .kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta {
    padding: 0.75rem;
    bottom: 36px;
    width: 50%;
  }
}
@media screen and (min-width: 75em) {
  .kw-front-page-carousel__slide .kw-front-page__carousel-img .kw-front-page__carousel-cta {
    width: 30%;
  }
}

.kw-c-hero {
  position: relative;
  width: 100%;
  margin-bottom: 4.5rem;
  box-shadow: 0 5px 15px -5px;
  background-color: #cacaca;
}
.kw-c-hero > * {
  position: relative;
  z-index: 3;
}
.kw-c-hero:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 52, 63, 0.6), rgba(0, 0, 0, 0.7));
  z-index: 2;
  top: 0;
}
@media print, screen and (min-width: 40em) {
  .kw-c-hero {
    margin-bottom: 6rem;
  }
}
.kw-c-hero.kw-c-hash-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kw-c-hero__inner {
  box-sizing: border-box;
  padding: 6rem;
  position: relative;
}
@media print, screen and (min-width: 64em) {
  .kw-c-hero__inner {
    padding: 15rem;
  }
}
.kw-c-hero__title {
  color: #fefefe;
  margin-bottom: 0;
  text-shadow: 0 2px 3px #212121;
  opacity: 0;
}

.kw-c-hero__excerpt {
  font-weight: 500;
  padding: 0.75rem;
  color: #fefefe;
  border: 1px solid #56706d;
  border-radius: 4px;
}
@media print, screen and (min-width: 40em) {
  .kw-c-hero__excerpt {
    color: #56706d;
    border: 0;
    background-color: #d8e0ed;
    box-shadow: 0 5px 15px -5px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-hero__excerpt {
    padding: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.kw-c-img-grid {
  position: relative;
}
.kw-c-img-grid:before {
  display: block;
  position: absolute;
  content: "";
  background-color: rgba(89, 99, 68, 0.1);
  z-index: -1;
  height: 70%;
  max-height: 500px;
  width: 75vw;
  top: 0;
  right: -30px;
  border-radius: 4px;
  transform: translateY(50px);
}

.kw-c-img-grid__img-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}
@media print, screen and (min-width: 40em) {
  .kw-c-img-grid__img-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-img-grid__img-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.kw-c-img-grid__img {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.kw-c-img-grid__img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.kw-c-img-grid__img:hover > img, .kw-c-img-grid__img:focus > img {
  transform: scale(1.1);
}
.kw-c-img-grid__img:hover .kw-c-img-grid__title, .kw-c-img-grid__img:focus .kw-c-img-grid__title {
  background-color: #14343f;
}
@media print, screen and (min-width: 40em) {
  .kw-c-img-grid__img.kw-c-img-grid__featured {
    grid-column: 1/span 2;
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-img-grid__img.kw-c-img-grid__featured {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
}
.kw-c-img-grid__img .kw-c-img-expand {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 150%;
  color: #d8e0ed;
}
.kw-c-img-grid__img .kw-c-img-grid__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  padding: 0.75rem;
  background-color: rgba(20, 52, 63, 0.7);
  color: #fefefe;
  display: flex;
  align-items: center;
}

.js-layout-slider > *:not(:first-child) {
  display: none;
}

.kw-c-menu {
  position: fixed;
  z-index: 12;
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
  background: #212121;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  transform: translateY(-100vh);
  overflow-y: auto;
  overflow-x: hidden;
}
[data-whatinput=mouse] .kw-c-menu {
  outline: 0;
}
.kw-c-menu.is-transition-push {
  z-index: 12;
}
.kw-c-menu.is-closed {
  visibility: hidden;
}
.kw-c-menu.is-transition-overlap {
  z-index: 13;
}
.kw-c-menu.is-transition-overlap.is-open {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.7);
}
.kw-c-menu.is-open {
  transform: translate(0, 0);
}
@media print, screen and (min-width: 40em) {
  .kw-c-menu {
    height: 80vh;
    transform: translateY(-80vh);
  }
}
.off-canvas-content .off-canvas.position-top {
  transform: translateY(-100vh);
}
@media print, screen and (min-width: 40em) {
  .off-canvas-content .off-canvas.position-top {
    transform: translateY(-80vh);
  }
}
.off-canvas-content .off-canvas.position-top.is-transition-overlap.is-open {
  transform: translate(0, 0);
}

.off-canvas-content.is-open-top.has-transition-push {
  transform: translateY(100vh);
}
@media print, screen and (min-width: 40em) {
  .off-canvas-content.is-open-top.has-transition-push {
    transform: translateY(80vh);
  }
}

.kw-c-menu.is-transition-push {
  box-shadow: inset 0 -13px 20px -13px rgba(33, 33, 33, 0.25);
}
@media print, screen and (min-width: 40em) {
  .kw-c-menu {
    min-height: 500px;
  }
}
.admin-bar .kw-c-menu {
  margin-top: 32px;
}

.kw-c-menu__inner {
  padding: 16px;
  text-align: center;
}

#kw-c-menu__close {
  color: #fefefe;
  right: 0;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 125%;
}
#kw-c-menu__close > span:first-of-type {
  font-size: 175%;
}
#kw-c-menu__close:hover {
  color: #b2b2b2;
}

.kw-c-menu__wrapper {
  background-color: #212121;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media print, screen and (min-width: 40em) {
  .kw-c-menu__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-menu__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
.kw-c-menu__wrapper > * {
  padding: 1rem;
  box-sizing: border-box;
}
.kw-c-menu__trigger {
  display: flex;
  padding: 0.75rem 1.5rem;
}

.kw-c-menu__masthead {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  color: #fefefe;
  position: relative;
}
.kw-c-menu__masthead .kw-c-masthead_bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.075;
  filter: grayscale(0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.kw-c-menu__masthead-inner {
  text-align: center;
}
.kw-c-menu__masthead-inner > * {
  position: relative;
}

.kw-c-menu__home-url {
  margin-top: 0.75rem;
}
@media screen and (min-width: 75em) {
  .kw-c-menu__home-url {
    margin-top: 4.5rem !important;
  }
}
.kw-c-menu__home-url a {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150%;
}
@media screen and (min-width: 75em) {
  .kw-c-menu__home-url a {
    font-size: 230%;
  }
}

.kw-c-menu__tagline {
  color: #9b9c9e;
  font-style: italic;
  margin-top: 0.75rem;
}

.kw-c-menu__masthead-img {
  max-width: 250px;
  width: 100%;
  display: block;
  border-radius: 4px;
}
@media screen and (min-width: 75em) {
  .kw-c-menu__masthead-img {
    max-width: 300px;
  }
}

.kw-c-menu__inner {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  background-color: #14343f;
}
@media print, screen and (min-width: 40em) {
  .kw-c-menu__inner {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
}

.kw-c-menu__sections {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  background-color: #56706d;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
}
.kw-c-menu__sections.kw-c-menu-sections--active {
  transform: translateX(0);
}
@media print, screen and (min-width: 40em) {
  .kw-c-menu__sections {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-menu__sections {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    transform: translate(0, 0);
  }
}

/*
Actual Menu
 */
.kw-c-menu__list-title {
  color: #fefefe !important;
  text-align: center;
}

.kw-c-menu__items-wrapper {
  text-align: left;
  padding-left: 3rem;
  box-sizing: border-box;
}

.kw-c-menu__item-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.kw-c-menu__item-wrapper .kw-c-menu-link {
  flex: 0 1 auto;
}

.menu-item {
  position: relative;
  margin-top: 0.75rem;
}
.menu-item.active:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.75rem;
  height: 100%;
  max-height: 40px;
  background-color: #fefefe;
  right: 105%;
  top: 50%;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(-50%);
}
.menu-item .kw-c-menu-link {
  opacity: 1;
}

.kw-c-menu-link {
  color: #fefefe;
  font-weight: bold;
  font-size: 125%;
  opacity: 0.75;
}
.kw-c-menu-link:hover, .kw-c-menu-link:focus {
  opacity: 1;
  color: #d8e0ed;
}

.js-section-toggle {
  margin-left: 0.75rem;
  color: #d8e0ed;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.375rem;
  max-height: 32px;
}
.js-section-toggle.section--active {
  border: 1px solid;
}
@media print, screen and (min-width: 40em) {
  .js-section-toggle.section--active:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 24px solid #14343f;
    margin-right: -24px;
    left: 101%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
}

/**
Page Sections
 */
#kw-c-menu__sections-close {
  text-align: right;
  color: #fefefe;
  font-size: 85%;
}
@media print, screen and (min-width: 64em) {
  #kw-c-menu__sections-close {
    display: none;
  }
}

.kw-c-menu__sections-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.kw-c-menu__section-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 3rem;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transform: translateY(15px);
}
.kw-c-menu__section-page.menu-section--active {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.kw-c-menu__section-page .kw-c-menu__sections-link {
  margin-top: 0.5rem;
  display: block;
  text-transform: capitalize;
  color: #fefefe;
}
.kw-c-menu__section-page .kw-c-menu__sections-link:hover, .kw-c-menu__section-page .kw-c-menu__sections-link:focus {
  color: #14343f;
}

.kw-c-block__title {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

.kw-c-cta {
  color: #56706d;
}
@media print, screen and (min-width: 64em) {
  .kw-c-cta {
    padding-top: 1.5rem;
    border-top: 1px solid #cacaca;
    font-size: 125%;
  }
}

.kw-c-col__main {
  text-align: justify;
}

.kw-c-profile__img-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}
.kw-c-profile__img-wrapper img {
  width: 100%;
  height: auto;
}

.js-promo-carousel > *:not(:first-child) {
  display: none;
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  height: auto;
}
.slick-track .slick-slide > div {
  height: 100%;
}

.kw-c-quick-nav .fa-exchange-alt {
  transform: rotate(90deg);
  transform-origin: center;
  opacity: 0.5;
}

.kw-c-quick-nav__wrapper {
  width: 100%;
  display: flex;
}

.kw-c-quick-nav__scrollspy {
  width: 100%;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.kw-c-quick-nav__item-text {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 4px;
  box-sizing: border-box;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-quick-nav__item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.kw-c-quick-nav__item-text:hover, .kw-c-quick-nav__item-text:active {
  background-color: rgba(216, 224, 237, 0.5);
}
.kw-c-quick-nav__item-text span {
  padding: 0 0.5rem;
  width: 100%;
  display: block;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, 50%, 0);
  transition: transform 250ms ease-out, opacity 250ms ease-out;
  text-overflow: ellipsis;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-quick-nav__item-text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.kw-c-quick-nav__item-text span.kw-is-active {
  opacity: 1;
  transform: translate3d(0, -50%, 0);
}

#dropdown-block-list {
  max-height: calc(100vh - 135px);
  overflow: auto;
}

.kw-c-quick-nav__menu .kw-c-quick-nav__menu-item {
  text-transform: uppercase;
  display: block;
  margin-top: 0.5rem;
}

.kw-c-quote__wrapper {
  text-align: center;
}

.kw-c-quote__body {
  font-size: 150%;
  font-weight: bold;
  padding: 1.5rem 0;
  position: relative;
  display: inline-block;
}
.kw-c-quote__body p {
  transition: all 1s ease-in-out;
  display: inline;
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0) 50%, #d8e0ed 50%);
  background-size: 200%;
  background-position: 0 0;
}
.kw-c-quote__body p.quote-is-active {
  background-position: -100% 0;
}
.kw-c-quote__body:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  position: absolute;
  left: -40px;
  top: 0;
  font-size: 150%;
  color: #596344;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-quote__body:before {
    left: -10px;
    font-size: 125%;
  }
}
.kw-c-quote__body:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  right: -40px;
  bottom: 10px;
  font-size: 150%;
  color: #596344;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-quote__body:after {
    right: -10px;
    font-size: 125%;
  }
}

.kw-c-quote__author {
  font-style: oblique;
  position: relative;
  margin: 1.5rem;
  padding: 1.5rem;
}
.kw-c-quote__author:before {
  display: block;
  content: "";
  position: absolute;
  height: 2px;
  width: 75px;
  background-color: #56706d;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.kw-c-archive__thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  display: block;
}
.kw-c-archive__thumbnail:hover > img, .kw-c-archive__thumbnail:focus > img {
  transform: scale(1.1);
}

.kw-c-sidebar {
  position: fixed;
  z-index: 12;
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
  background: #14343f;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  transform: translateX(100%);
  overflow-y: auto;
  overflow-x: hidden;
  color: #fefefe;
  text-align: justify;
}
[data-whatinput=mouse] .kw-c-sidebar {
  outline: 0;
}
.kw-c-sidebar.is-transition-push {
  z-index: 12;
}
.kw-c-sidebar.is-closed {
  visibility: hidden;
}
.kw-c-sidebar.is-transition-overlap {
  z-index: 13;
}
.kw-c-sidebar.is-transition-overlap.is-open {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.7);
}
.kw-c-sidebar.is-open {
  transform: translate(0, 0);
}
@media print, screen and (min-width: 40em) {
  .kw-c-sidebar {
    width: 400px;
    transform: translateX(400px);
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-sidebar {
    width: 600px;
    transform: translateX(600px);
  }
}
.off-canvas-content .off-canvas.position-right {
  transform: translateX(100%);
}
@media print, screen and (min-width: 40em) {
  .off-canvas-content .off-canvas.position-right {
    transform: translateX(400px);
  }
}
@media print, screen and (min-width: 64em) {
  .off-canvas-content .off-canvas.position-right {
    transform: translateX(600px);
  }
}
.off-canvas-content .off-canvas.position-right.is-transition-overlap.is-open {
  transform: translate(0, 0);
}

.off-canvas-content.is-open-right.has-transition-push {
  transform: translateX(-100%);
}
@media print, screen and (min-width: 40em) {
  .off-canvas-content.is-open-right.has-transition-push {
    transform: translateX(-400px);
  }
}
@media print, screen and (min-width: 64em) {
  .off-canvas-content.is-open-right.has-transition-push {
    transform: translateX(-600px);
  }
}

.kw-c-sidebar.is-transition-push {
  box-shadow: inset 13px 0 20px -13px rgba(33, 33, 33, 0.25);
}
.kw-c-sidebar .close-button {
  color: #fefefe;
  margin-top: 1.5rem;
}

.kw-c-sidebar__wrapper {
  padding: 1.5rem;
  margin-top: 3rem;
}

.kw-c-sidebar__inner {
  display: none;
}

.kw-c-sidebar__title {
  color: #56706d;
}

.kw-c-sidebar__content a,
.kw-c-sidebar__content label,
.kw-c-sidebar__content h1,
.kw-c-sidebar__content h2,
.kw-c-sidebar__content h3,
.kw-c-sidebar__content h4,
.kw-c-sidebar__content h5,
.kw-c-sidebar__content h6 {
  color: #fefefe !important;
}

.kw-c-sidebar__trigger.has-content {
  box-sizing: border-box;
  display: inline;
  margin: 0 0.3rem;
  padding: 0.3rem 0.5rem;
  color: #14343f;
  border-bottom: 1px dashed #596344;
}
.kw-c-sidebar__trigger.has-content:hover, .kw-c-sidebar__trigger.has-content:focus {
  border-color: #56706d;
  color: #56706d;
}
.kw-c-sidebar__trigger p {
  display: inline;
}

#kw-c-top-bar {
  width: 100%;
  padding: 0;
  z-index: 10;
}
#kw-c-top-bar a {
  text-decoration: none;
}
#kw-c-top-bar a:hover {
  color: #56706d;
}

.top-bar {
  background-color: transparent;
}
.top-bar ul {
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.kw-c-top-bar__wrapper {
  background-color: #fefefe;
  width: 100%;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 5px 15px -5px;
  display: flex;
  gap: 0.75rem;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-top-bar__wrapper {
    font-size: 100%;
  }
}
.kw-c-top-bar__wrapper .kw-c-top-bar__wrapper-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem 1.5rem;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-top-bar__wrapper li {
    padding: 0.5rem 0;
    box-sizing: border-box;
    font-size: 90% !important;
  }
}
.kw-c-top-bar__wrapper li.kw-c-quick-nav {
  flex: 1 0 100%;
}
@media print, screen and (max-width: 63.99875em) {
  .kw-c-top-bar__wrapper li.kw-c-quick-nav {
    border-top: 1px solid #cacaca;
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-top-bar__wrapper li.kw-c-quick-nav {
    flex: 1;
  }
}

.kw-c-top-bar__site {
  display: none;
  color: #14343f;
  flex: 0 1 auto;
}
@media print, screen and (min-width: 64em) {
  .kw-c-top-bar__site {
    display: flex;
    align-items: center;
  }
}
.kw-c-top-bar__site > * {
  padding: 0 !important;
}

.kw-c-top-bar__page {
  display: flex;
  align-items: center;
  color: #8a8a8a;
  flex: 0 1 auto;
}

body.home .kw-c-top-bar__site {
  display: flex;
}

.kw-c-timeline__inner-wrapper {
  position: relative;
  padding: 1.5rem;
}
.kw-c-timeline__inner-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  margin-left: -1px;
  height: 100%;
  background: #cacaca;
  z-index: 1;
  left: 32px;
  width: 2px;
}
@media print, screen and (min-width: 64em) {
  .kw-c-timeline__inner-wrapper:before {
    left: 50% !important;
    width: 2px;
  }
}
.kw-c-timeline__inner-wrapper ul {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.kw-c-timeline__block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  clear: both;
  margin-top: 1.5rem;
  box-sizing: border-box;
}
@media print, screen and (min-width: 64em) {
  .kw-c-timeline__block {
    width: 50%;
  }
}
@media print, screen and (min-width: 64em) {
  .kw-c-timeline__block:nth-child(odd) {
    align-self: flex-start;
    text-align: right;
    right: -8px;
  }
  .kw-c-timeline__block:nth-child(odd) .marker {
    order: 2;
  }
}
.kw-c-timeline__block:nth-child(even) {
  align-self: flex-end;
}
@media print, screen and (min-width: 64em) {
  .kw-c-timeline__block:nth-child(even) {
    left: -8px;
  }
}
.kw-c-timeline__block .marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fefefe;
  background: #c74426;
  margin-top: 10px;
  z-index: 2;
  flex: 1 0 16px;
}
.kw-c-timeline__block .kw-c-timeline__content {
  padding: 0 0.75rem;
}
.kw-c-timeline__block .kw-c-timeline__subtitle {
  color: #56706d;
}

/*# sourceMappingURL=all.css.map */

/*# sourceMappingURL=styles.css.map*/